.container {

    max-width: 990px;

}

.cell {
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
}

.clicked {
    background-color: darkgrey;
}

.reset-button {
    margin-bottom: 25px;
    
}